
body {
    #cric-main {
        min-height: 600px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .container {
        background-color: #f1f1f1;
        .article {
            border: 1px solid #ccc;

            h3 {
                span.label {
                    display: block;
                    padding: 10px 0px;
                }
            }
        }
    }
}
