@font-face {
    font-family: 'Josefin Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Josefin Slab'), local('JosefinSlab'), url(http://themes.googleusercontent.com/static/fonts/josefinslab/v4/46aYWdgz-1oFX11flmyEfXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
body {
    margin: 0;
    padding: 0;
    /*    font-family: 'Josefin Slab', arial, verdana;
        font-size: 13px;*/

    header.container {
        border: 1px solid #ddd;
        padding: 10px 0px;
    }
    section.container {
        min-height: 600px;
        border: 1px solid #ddd;
        .article {
            border: 1px solid #ddd;   
            h3 {
                span {
                    display: block;
                }
            }
        }
    }
    footer.container {
        border: 1px solid #ddd;
    }

    .modal {
        .modal-header {
            h3.modal-title {
                font-weight: bold;
            }
        }
    }

    /* Global   */

    label.error {
        color: #D9534F;
    }
    .cric-link {
        color: #4173C9;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .container {
        background-color: #f1f1f1;
    }
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    /*  jquery ui   */

    .ui-widget-overlay.ui-front {
        background-repeat: repeat;
    }
}