/* line 1, ../../resources/scss/main.scss */
body {
  margin: 0;
  padding: 0;
  /* Global   */
  /* bootstrap    */
  /*  jquery ui   */
}
/* line 5, ../../resources/scss/main.scss */
body header.container {
  border: 1px solid #ddd;
  padding: 10px 0px;
}
/* line 9, ../../resources/scss/main.scss */
body section.container {
  min-height: 600px;
  border: 1px solid #ddd;
}
/* line 12, ../../resources/scss/main.scss */
body section.container .article {
  border: 1px solid #ddd;
}
/* line 15, ../../resources/scss/main.scss */
body section.container .article h3 span {
  display: block;
}
/* line 21, ../../resources/scss/main.scss */
body footer.container {
  border: 1px solid #ddd;
}
/* line 27, ../../resources/scss/main.scss */
body .modal .modal-header h3.modal-title {
  font-weight: bold;
}
/* line 35, ../../resources/scss/main.scss */
body label.error {
  color: #D9534F;
}
/* line 38, ../../resources/scss/main.scss */
body .cric-link {
  color: #4173C9;
  text-decoration: none;
}
/* line 41, ../../resources/scss/main.scss */
body .cric-link:hover {
  text-decoration: underline;
}
/* line 50, ../../resources/scss/main.scss */
body form .form-group.cric-2col label {
  display: block;
}
/* line 53, ../../resources/scss/main.scss */
body form .form-group.cric-2col input.form-control {
  display: inline-block;
  width: 49%;
}
/* line 56, ../../resources/scss/main.scss */
body form .form-group.cric-2col input.form-control:nth-child(2) {
  margin-right: 1%;
}
/* line 61, ../../resources/scss/main.scss */
body form .form-control.error:focus {
  border-color: #D9534F;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(217, 83, 79, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(217, 83, 79, 0.6);
}
/* line 71, ../../resources/scss/main.scss */
body .ui-widget-overlay.ui-front {
  background-repeat: repeat;
}
