/* line 3, ../../resources/scss/main.scss */
body #cric-main {
  min-height: 600px;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 9, ../../resources/scss/main.scss */
body .container {
  background-color: #f1f1f1;
}
/* line 11, ../../resources/scss/main.scss */
body .container .article {
  border: 1px solid #ccc;
}
/* line 15, ../../resources/scss/main.scss */
body .container .article h3 span.label {
  display: block;
  padding: 10px 0px;
}
